@use "../../styles/vars.scss" as v;

.reply {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-top: 1px solid v.$light-grey-color;
  padding-top: 24px;
}

.adminName {
  color: v.$grey-color;
}
