@use "../../styles/vars.scss" as v;
@use "../../mixins/mixins.scss" as m;

.reply {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-top: 1px solid v.$light-grey-color;
  padding-top: 24px;

  @include m.media_480 {
    gap: 8px;
    padding-top: 8px;
  }
}

.adminName,
.replyText {
  @include m.media_480 {
    font-size: 14px;
  }
}

.adminName {
  color: v.$grey-color;
}
