@use "../../mixins/mixins.scss" as m;

.animationWrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.list {
  display: flex;
  gap: 16px;
  animation: scroll 30s linear infinite;
  width: calc(200%);
  animation-play-state: running;

  @include m.media_480 {
    width: calc(400%);
  }
}

.list:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@include m.media_480 {
  @keyframes scroll {
    0% {
      transform: translateX(25%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
