@use "../../mixins/mixins.scss" as m;

.cartItemWrapper {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 16px;

  @include m.cardShadow();
}

.textWrapper {
  width: 600px;

  @include m.media_480 {
    display: none;
  }
}

.title {
  font-weight: 700;
  margin-bottom: 16px;
}

.image {
  border-radius: 8px;
  margin-right: 32px;

  @include m.media_480 {
    margin-right: 16px;
  }
}

.priceAndQuantityWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;
  margin-right: 24px;

  @include m.media_480 {
    flex-direction: column;
    gap: 8px;
    // margin-right: 0;
  }
}

.quantityControlsWrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 20px;

  @include m.media_480 {
    gap: 8px;
  }
}

.quantity {
  width: 32px;
  text-align: center;
}

.descTrashBin {
  @include m.media_480 {
    display: none;
  }
}

.mobTrashBin {
  @media screen and (min-width: 480.02px) {
    display: none;
  }
}
