@use "../../mixins/mixins.scss" as m;
@use "../../styles/vars.scss" as v;

.container {
  min-height: calc(100vh - (v.$headerHeight + v.$footerHeight));
  @include m.container;

  @include m.media_480 {
    min-height: calc(100vh - (v.$headerHeight + v.$footerHeightMob));
  }
}

.messageEmptywrapper {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;

  @include m.media_480 {
    margin-top: 160px;
  }
}

.messageCartEmpty {
  font-size: 40px;

  @include m.titleFont;

  @include m.media_480 {
    font-size: 32px;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: max-content;
  text-transform: uppercase;
  font-size: 14px;
  color: v.$white-color !important;
  background-color: v.$primary-color;
  border-radius: v.$btnBorderRadius;
}

.title {
  text-align: center;
  font-size: 32px;

  @include m.media_480 {
    font-size: 24px;
  }
}

.cartProductListWrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.totalSum {
  display: inline-flex;
  justify-content: center;
  width: 80px;
  font-size: 20px;
  font-weight: 600;
}

.makeOrderWrapper {
  display: flex;
  align-items: center;
  gap: 64px;

  @include m.media_480 {
    flex-direction: column;
    gap: 32px;
  }
}
