@use "../../mixins/mixins.scss" as m;
@use "../../styles/vars.scss" as v;

.container {
  @include m.container();
}

.brandTitle {
  text-align: center;
  color: v.$primary-color;
  font-size: 64px;

  @include m.brandFont();
}
