@use "../../styles/vars.scss" as v;
@use "../../mixins/mixins.scss" as m;

.commentListItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 24px;
  border: 2px solid v.$light-grey-color;

  @include m.media_480 {
    gap: 8px;
    padding: 8px;
    border-radius: 16px;
  }
}

.userName,
.text,
.date {
  @include m.media_480 {
    font-size: 14px;
  }
}

.userName {
  color: v.$grey-color;
}

.date {
  color: v.$grey-color;
  text-align: end;
}

.adminBtnsWrapper {
  display: flex;
  justify-content: center;
  gap: 48px;
}
